.offline_blink_bg{
    vertical-align: super;
    font-size: smaller;
    color: red;    
}
.online_blink_bg{
    vertical-align: super;
    font-size: smaller;
    color: #00FF00;
}
.relative_blink{ /* Wow. such bad. :| */
    position: absolute;
    top: 5px;
} 
.notification_blink{
    vertical-align: super;
    font-size: smaller;
    color: #00FF00;
    padding-top: 15px;
}
.online_blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}